<head>
    <style>

        img {
            height: 560px;
            width: auto;
            object-fit: scale-down;
        }

    </style>

</head>
<div>




</div>
<h2 style="margin: 3% 3% 3% 3%">Selected Leftest Organizations</h2>
<p style="margin: 5px 5% 5% 5%">The following are a few selected leftest organizations to check out. There are many other ogranizations you can explore but this is a good starting point. CLick any of the images below to explore more...</p>
<div>
    <ul style="list-style: none" ; display: inline-block;>
        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: center">Democratic
            Socialists of America</li>

        <li><a href="https://www.dsausa.org/"> <img src="dsa.jpg"
                                                    style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto">

        </a>
        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: right"> &#169 DSA</li>
        </li>
        </li>
        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: center">International
            Workers of the World</li>

        <li><a href="https://www.iww.org/"> <img src="iww.jpg"
                                                    style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto">
        </a>
        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: right"> &#169 IWW</li>
        </li>


        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: center">Socialist
            Rifle Association</li>
        <li><a href="https://www.socialistra.org/"> <img src="sra.jpg"
                                                         style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto">
        </a>
        </li>
        <li style="width: 33%; height: auto; object-fit: scale-down; margin:  5px 33% auto; text-align: right"> &#169 SRA</li>
        </li>

    </ul>
</div>