<h2 style="margin:3%">There are many different leftest schools of thought...</h2>
<p style="margin-left: 10%">But they all generally share three characteristics in common:</p>
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
    <defs>
        <filter id="marker-shape">
            <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
            <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp" />
        </filter>
    </defs>
</svg>

<ul style="width:75%; margin:0 auto">
    <li>Firstly, the far-left <span class="realistic-marker-highlight">rejects the underlying socio-economic structure </span>of contemporary capitalism</li>
    <li>Secondly, they <span class="realistic-marker-highlight">advocate alternative economic and power structures </span>that involve the redistribution of resources from political elites.</li>
    <li>Thirdly, they are <span class="realistic-marker-highlight">internationalists </span>,seeing a causality between imperialism and globalism and regional socio-economic issues.</li>
</ul>
<p style="margin-left: 10%; margin-top: 5%">Anarchism:</p>
<div style="width:75%; margin:0 auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    Anarchism is a political philosophy and movement that is sceptical of authority and rejects all involuntary,
    coercive forms of hierarchy. Anarchism calls for the abolition of the state, which it holds to be undesirable,
    unnecessary, and harmful. It is usually described alongside libertarian Marxism as the libertarian wing (libertarian socialism)
    of the socialist movement and as having a historical association with anti-capitalism and socialism.
</div>
<p style="margin-left: 10%; margin-top: 5%">Socialism:</p>
<div style="width:75%; margin:0 auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    Socialism is a political, social, and economic philosophy encompassing a range of economic and social systems
    characterised by social ownership of the means of production and democratic control or workers'
    self-management of enterprises. It includes the political theories and movements associated with such systems.
    [10] Social ownership can be public, collective, cooperative, or of equity. While no single definition encapsulates
    the many types of socialism, social ownership is the one common element. Socialists disagree about the degree
    to which social control or regulation of the economy is necessary, how far society should intervene and whether government,
    particularly existing government, is the correct vehicle for change.
</div>
<p style="margin-left: 10%; margin-top: 5%">Marxism:</p>
<div style="width:75%; margin:0 auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    Marxism is a method of socioeconomic analysis that uses a materialist interpretation of historical development,
    better known as historical materialism, to understand class relations and social conflict as well as a dialectical
    perspective to view social transformation. It originates from the works of 19th-century German philosophers Karl Marx
    and Friedrich Engels. As Marxism has developed over time into various branches and schools of thought, there is
    currently no single definitive Marxist theory.
</div>

