<h2 style="margin:3%">There are many different leftest thinkers...</h2>
<p style="margin-left: 10%">Karl Marx:</p>
<div style="width:75%; margin:5% auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    Marx thought that if a place that works together runs on wage-labor, then there would always be class struggle.
    Marx thought that this class struggle would result in workers taking power. He believed that no economic class—wage workers,
    land owners, etc. should have power over another. Marx believed that everyone should contribute what they can, and everyone
    should get what they need. His most famous book was the Communist Manifesto. He wrote it with Friedrich Engels in 1848. The
    book is about the ideas and aims of communism. His ideas are called Marxism.

    His most important work is Das Kapital, or The Capital. It is commonly known in English as simply 'Capital.' He spent many
    years working on the three parts of the book. Das Kapital describes how "capitalism" works and the problems this creates,
    such as division of labour, alienation and exploitation. The book has led to many arguments between those who agree with
    the book and those who do not. Marx's ideas have been thought of as responsible for socialist revolutions (like the Russian Revolution).

    Marx's most popular theory was 'historical materialism', arguing that history is the result of material conditions, rather
    than ideas. He believed that religion, morality, social structures and other things are all rooted in economics. In his
    later life he was more tolerant of religion.

    Marx also wrote the Economic and Philosophic Manuscripts of 1844, a critique of political economy in which he discusses
    topics such as labor wages, labor rent, and capital profit, and his ideas of how to change the economy, including
    proletarian socialist revolution and an eventual communist society.
</div>
<p style="margin-left: 10%">Mikhail Bakunin:</p>
<div style="width:75%; margin:5% auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    Bakunin's political beliefs rejected statist and hierarchical systems of power in every name and shape, from the idea
    of God downwards, and every form of hierarchical authority, whether emanating from the will of a sovereign or even from
    a state that allowed universal suffrage. He wrote in God and the State that "[t]he liberty of man consists solely in this,
    that he obeys the laws of nature because he has himself recognized them as such, and not because they have been imposed upon
    him externally by any foreign will whatsoever, human or divine, collective or individual".

    Bakunin similarly rejected the notion of any privileged position or class, since the social and economic inequality
    implied by class systems were incompatible with individual freedom. Whereas liberalism insisted that free markets and
    constitutional governments enabled individual freedom, Bakunin insisted that both capitalism and the state in any form
    were incompatible with the individual freedom of the working class and peasantry, stating that "it is the peculiarity of
    privilege and of every privileged position to kill the intellect and heart of man. The privileged man, whether he be
    privileged politically or economically, is a man depraved in intellect and heart". Bakunin's political beliefs were
    based on several interrelated concepts: liberty; socialism; federalism; anti-theism; and materialism.
    He also developed a critique of Marxism, predicting that if the Marxists were successful in seizing power, they would
    create a party dictatorship "all the more dangerous because it appears as a sham expression of the people's will",
    adding that "[w]hen the people are being beaten with a stick, they are not much happier if it is called 'the People's Stick'".
</div>
<p style="margin-left: 10%">Noam Chomsky</p>
<div style="width:75%; margin:5% auto;height:150px;line-height:3em;overflow:auto;padding:5px;">
    In his youth, Chomsky developed a dislike of capitalism and the pursuit of material wealth.[195] At the same time,
    he developed a disdain for authoritarian socialism, as represented by the Marxist–Leninist policies of the Soviet Union.
    Rather than accepting the common view among U.S. economists that a spectrum exists between total state ownership of the
    economy and total private ownership, he instead suggests that a spectrum should be understood between total democratic
    control of the economy and total autocratic control (whether state or private). He argues that Western capitalist
    countries are not really democratic, because, in his view, a truly democratic society is one in which all persons
    have a say in public economic policy. He has stated his opposition to ruling elites, among them institutions like
    the IMF, World Bank, and GATT (precursor to the WTO).

    Chomsky highlights that, since the 1970s, the U.S. has become increasingly economically unequal as a result of the
    repeal of various financial regulations and the rescinding of the Bretton Woods financial control agreement.[201]
    He characterizes the U.S. as a de facto one-party state, viewing both the Republican Party and Democratic Party as
    manifestations of a single "Business Party" controlled by corporate and financial interests. Chomsky highlights
    that, within Western capitalist liberal democracies, at least 80% of the population has no control over economic
    decisions, which are instead in the hands of a management class and ultimately controlled by a small, wealthy elite.

    Noting the entrenchment of such an economic system, Chomsky believes that change is possible through the organized
    cooperation of large numbers of people who understand the problem and know how they want to reorganize the economy
    more equitably. Acknowledging that corporate domination of media and government stifles any significant change
    to this system, he sees reason for optimism in historical examples such as the social rejection of slavery as immoral,
    the advances in women's rights, and the forcing of government to justify invasions. He views violent revolution
    to overthrow a government as a last resort to be avoided if possible, citing the example of historical revolutions
    where the population's welfare has worsened as a result of upheaval.

    Chomsky sees libertarian socialist and anarcho-syndicalist ideas as the descendants of the classical liberal ideas of
    the Age of Enlightenment, arguing that his ideological position revolves around "nourishing the libertarian and
    creative character of the human being". He envisions an anarcho-syndicalist future with direct worker control of
    the means of production and government by workers' councils, who would select representatives to meet together at general
    assemblies. The point of this self-governance is to make each citizen, in Thomas Jefferson's words, "a direct participator
    in the government of affairs." He believes that there will be no need for political parties. By controlling their
    productive life, he believes that individuals can gain job satisfaction and a sense of fulfillment and purpose. He
    argues that unpleasant and unpopular jobs could be fully automated, carried out by workers who are specially remunerated,
    or shared among everyone.
</div>
