<div class="form">
<form action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
    <label for="email">Subscribe to our newsletter!</label><br>
    <input type="text" id="email" name="email" ><br>
    <input type="submit" style="margin-top: 2% ">
</form>
</div>